.searchbar-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.searchbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  outline: none;
  z-index: 2;
  color: #333;
  transition: color 0.2s;
}

.searchbar-container .searchbar-form {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
<<<<<<< HEAD
<<<<<<< HEAD
  transition:
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s;
=======
  transition: width 0.3s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
>>>>>>> b255043f (Hoàn thiện chi tiết sản phẩm 70%, chưa có validate)
=======
  transition:
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s;
>>>>>>> a8244187 (giao dien list sp)
  width: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
}

.searchbar-container.open .searchbar-form {
  width: 220px;
  opacity: 1;
}

.searchbar-input {
  width: 100%;
  padding: 7px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  background: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
=======
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
>>>>>>> b255043f (Hoàn thiện chi tiết sản phẩm 70%, chưa có validate)
=======
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
>>>>>>> a8244187 (giao dien list sp)
  transition: box-shadow 0.2s;
}

.searchbar-input:focus {
<<<<<<< HEAD
<<<<<<< HEAD
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-color: #1abc9c;
}
=======
  box-shadow: 0 2px 12px rgba(0,0,0,0.10);
  border-color: #1abc9c;
} 
>>>>>>> b255043f (Hoàn thiện chi tiết sản phẩm 70%, chưa có validate)
=======
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-color: #1abc9c;
}
>>>>>>> a8244187 (giao dien list sp)
